<div class="content">
  <div class="live_header">
    <div class="words">
      <h1>
        LIVE SHOWS
      </h1>
      <p>
        The best on-line posts performed live on-stage.
      </p>
      <a data-scroll href="#upcoming_shows">
        <div class="button">
          Get Tickets
        </div>
      </a>
    </div>
    <img src=<%= asset_path 'live_cover.jpg' %> >
  </div><div class="video_header">
    <div class="words">
      <h1>
        WEB SERIES
      </h1>
      <p>
        Watch the highly praised Funny or Die videos.
      </p>
      <a data-scroll href="#video">
       <div class="button">
         Watch Videos
        </div>
      </a>
    </div>
    <img src=<%= asset_path 'video_cover.jpg' %> >
  </div>
  <div class="description">
    <hr>
    <div class="type">
      <h3>REAL LIFE PERFORMANCES OF YOUR VIRTUAL MESSAGE BOARD.</h3>The Best of Craigslist brings Craigslist posts to life. Taken word-for word, the posts are performed in live shows and a corresponding video series, brought to you by Actor / Writer / Creator John Pick, with other great LA talent.
    </div>
    <hr>
  </div> <!-- // .row -->
  <div style="clear:both"></div>
  <div class="quote_box">
    <img src=<%= asset_path 'live_quote.jpg' %> >
  </div>
  <div class="upcoming" id="upcoming_shows">
    <div class="schedule">
      <h1>UPCOMING SHOWS</h1>
      <div class="venue">
        <h2>HUDSON BACKSTAGE</h2>
        <h3>HOME OF COMEDY CENTRAL STAGE <div class="address">6539 Santa Monica Blvd</span></h3>
        <div class="dates">
            <div class="showtime">
              6/13 Friday 9:45pm | MUSICAL GUEST: The Coals*
            </div>
            <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
              <div class="sched_button">
                GET TICKETS
              </div>
            </a>
            <div style="clear:both"></div>
          <hr>
            <div class="showtime">
              6/14 Saturday 8pm | MUSICAL GUEST: Levi Petree and Radio Publica*
            </div>
            <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
              <div class="sched_button">
                GET TICKETS
              </div>
            </a>
            <div style="clear:both"></div>
          <hr>
            <div class="showtime">
              6/15 Sunday 8pm | MUSICAL GUEST: TBD*
            </div>
            <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
              <div class="sched_button">
                GET TICKETS
              </div>
            </a>
            <div style="clear:both"></div>
          <hr>
            <div class="showtime">
              6/21 Saturday 5:30pm | MUSICAL GUEST: Kate Brown*
            </div>
            <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
              <div class="sched_button">
                GET TICKETS
              </div>
            </a>
            <div style="clear:both"></div>
          <hr>
            <div class="showtime">
              6/22 Sunday 3pm | MUSICAL GUEST: Doran Danoff*
            </div>
            <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
              <div class="sched_button">
                GET TICKETS
              </div>
            </a>
            <div style="clear:both"></div>
          <hr>
            <div class="showtime">
              6/28 Saturday 3pm | MUSICAL GUEST: TBD*
            </div>
            <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
              <div class="sched_button">
                GET TICKETS
              </div>
            </a>
            <div style="clear:both"></div>
          <hr>
            <div class="showtime">
              6/28 Saturday 9:45pm | MUSICAL GUEST: Doris (featuring Paul Adelstein)*
            </div>
            <a href="http://www.hollywoodfringe.org/projects/1703?tab=tickets" target="_blank">
              <div class="sched_button">
                GET TICKETS
              </div>
            </a>
            <div style="clear:both"></div>
          <hr>
        </div>
        <div class="notes">
          Valet Parking available
        </div>
      </div>
      <div style="clear:both"></div>
          <a href="/schedule">
            <div class="full_button">
              SEE THE FULL SCHEDULE
            </div>
          </a>
      <div style="clear:both"></div>
    </div>
  </div>
  <div class="quote_box">
    <img src=<%= asset_path 'video_quote.jpg' %> >
  </div>
  <div class="home_video_area" id="video">
    <h1>VIDEOS</h1>
    <div class="video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/3e332130b5"><img src=<%= asset_path 'VideoScreens_1.jpg' %> >The Best of Craigslist Vol. 1:<br> 2002 Ford Focus</a></div><div class="video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/0ff4ab82eb"><img src=<%= asset_path 'VideoScreens_2.jpg' %> >The Best of Craigslist Vol. 7:<br> I have a huge bathroom</a></div>
      <a href="/videos">
      <div class="series_button">
        SEE THE WHOLE SERIES
      </div>
    </a>
  </div>
<!-- </div> for footer in application.html -->
