<div class="content">
  <div class=" videos">
    <div class="video_text">
      <h1>VIDEOS</h1>
      The Funny or Die series that started it all. With over 200,000 views and a high "funny rating", real posts come to life in these videos.
    </div>
    <hr>
    <div class="video_sample"><a class="fod_video"  width="1000" height="400" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen href="http://www.funnyordie.com/embed/3e332130b5"><img src=<%= asset_path 'VideoScreens_1.jpg' %> >The Best of Craigslist Vol. 1:<br> 2002 Ford Focus</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/0ff4ab82eb"><img src=<%= asset_path 'VideoScreens_2.jpg' %> >The Best of Craigslist Vol. 7:<br> I have a huge bathroom</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/e33f02ee6b"><img src=<%= asset_path 'VideoScreens_3.jpg' %> >The Best of Craigslist Vol. 4:<br> Best. Roommate. Ever.</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/cc280888de"><img src=<%= asset_path 'VideoScreens_4.jpg' %> >The Best of Craigslist Vol. 3:<br> I saw your breasts by accident - m4w</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/fe7c724c1a"><img src=<%= asset_path 'VideoScreens_5.jpg' %> >The Best of Craigslist Vol. 2:<br> Need Someone to Sit on Lap</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/2da1b21cf4"><img src=<%= asset_path 'VideoScreens_6.jpg' %> >The Best of Craigslist: Volume 10:<br> To the girl who attempted a B&E this morning - m4w</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/c83001bc3f"><img src=<%= asset_path 'VideoScreens_7.jpg' %> >The Best of Craigslist Vol. 9:<br> I got someone's dead grandmother in urn</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/c7c8312ca8"><img src=<%= asset_path 'VideoScreens_8.jpg' %> >The Best of Craigslist Vol. 5:<br> Beautiful fly</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/eafa72e688"><img src=<%= asset_path 'VideoScreens_9.jpg' %> >The Best of Craigslist Vol. 6:<br> Woman to sit in my bathtub full of noodles wearing a bathing suit</a></div><div class=
    "video_sample"><a class="fod_video"  href="http://www.funnyordie.com/embed/630e2b44bb"><img src=<%= asset_path 'VideoScreens_10.jpg' %> >The Best of Craigslist Vol. 8:<br> Dolores Park around noon m4w</a></div>

  </div>

