<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns:fb="http://www.facebook.com/2008/fbml"
    xmlns:og="http://opengraphprotocol.org/schema/"
    xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
    lang="en" dir="ltr"> <!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>The Best of Craigslist Live</title>
  <meta property="og:title" content="The Best of Craigslist Live" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.thebestofcraigslistlive.com" />
  <meta property="og:image" content="http://www.thebestofcraigslistlive.com/assets/Logo_600-e387598c8ba340ab98d21e9321026eaf.png" />

  <%= favicon_link_tag 'bocl_fav.png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav">
    <ul>
      <a href="/"><li><div class="border">HOME</div></li></a><a href="/about"><li><div class="border">ABOUT</div></li></a><a href="/schedule"><li><div class="border">SCHEDULE</div></li></a><a href="/videos"><li><div class="border">VIDEOS</div></li></a>
    </ul>

  </div>
  <div class="logo">
    <img src=<%= asset_path 'Logo_600.png' %> >
  </div>

  <%= yield %>

    <div class="footer">
      <div class="contact_header">
        <h3>CONTACT</h3>
      </div>

      <div class="row contact_box">
        <div class="col double for_break contact">
          John Pick<br>
          Director/Producer<br>
          <a href="tel:1-773 934 5317">773 934 5317</a><br>
          <a href="mailto:john@thebestofcraigslistlive.com?Subject=Best%20of%20Craigslist">john@thebestofcraigslistlive.com</a><br>
        </div><div
        class="col double contact">
          Tiffany Schloesser<br>
          Agency for the Performing Arts<br>
          <a href="tel:1-212-205-4331">212-205-4331</a><br>
          <a href="mailto:tschloesser@apanewyork.com?Subject=Best%20of%20Craigslist">tschloesser@apanewyork.com</a><br>
        </div>
        <div style="clear:both"></div>
        <div class="fb_icon">
          <a href="http://www.facebook.com/pages/The-Best-of-Craigslist/556564161036696" target="_blank"><img src=<%= asset_path 'bocl_fb_icon.png' %> >FIND US ON FACEBOOK.</a>
        </div>
      </div>
    </div><!-- content -->
  </div>
</body>
</html>
